<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="day1223">

<!-- 외부 값 없이 insert : parameterType 속성을 정의하지 않는다. 
	 int cnt=ss.insert("아이디"); -->
	<insert id="nonParameter">
		insert into board(num , input_date)
		values(seq_board.nextval, sysdate+1)
	</insert>

<!-- 외부값을 사용한 insert :parameterType 속성을 정의 
	 int cnt=ss.insert("아이디", DTO객체) -->
	<insert id="insertDept" parameterType="day1219.DeptDTO">
		insert into cp_dept( deptno, dname, loc)
		values( #{ deptno }, #{ dname }, #{ loc } )
	</insert>


<!-- dollar sign은 입력값이 쿼리문에 그대로 반영된다. -->
	<insert id="insertDept2" parameterType="day1219.DeptDTO">
		insert into cp_dept( deptno, dname, loc)
		values( ${ deptno }, '${ dname }', '${ loc }' )
	</insert>
  
</mapper>
