<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
<properties resource="properties/database.properties"/>
<typeAliases>
<typeAlias type="day1224.EmpDTO" alias="eDTO"/>
</typeAliases>
  <environments default="development">
    <environment id="development">
      <transactionManager type="JDBC"/>
      <dataSource type="POOLED">
        <property name="driver" value="${driver}"/>
        <property name="url" value="${url}"/>
        <property name="username" value="${id}"/>
        <property name="password" value="${pass}"/>
      </dataSource>
    </environment>
  </environments>
  <mappers>
    <mapper resource="day1219/dept.xml"/>
    <mapper resource="day1223/examMapper.xml"/><!-- insert 연습 -->
    <mapper resource="day1224/examMapper2.xml"/><!-- update연습, delete 연습 -->
    <mapper resource="day1224/examMapper3.xml"/><!-- select 연습 -->
    <mapper resource="kr/co/sist/board/boardMapper.xml"/><!-- 게시판쿼리 -->
  </mappers>
</configuration>
